body {
  width: 100%;
  height: 100vh;
  font-family: "DM Sans", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 48px 450px 3fr 3fr 2fr 3fr 2fr auto 2fr auto;
  grid-template-areas:
    "nav nav "
    "header header"
    "art1 art1"
    "art2 art2 "
    "art3 art3"
    "art4 art4"
    "art5a art5a"
    "art5b art5b"
    "art6a art6b "
    "footer footer ";
}

.logo {
  padding-left: 50px;
  height: 35px;
  padding-top: 7px;
}

.boton {
  border-radius: 100px;
  background-color: #5227cc;
  color: whitesmoke;
  border: 0px;
  padding: 20px;
  height: 10px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listanav {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.listanav > li {
  margin-right: 47px;
  margin-left: 45px;
}

nav {
  top: 0;
  left: 0;
  width: 98%;
  display: flex;
  flex-direction: row;
  grid-area: nav;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
}

header {
  background-image: url("../Materiales/manos.jpg");
  opacity: 90%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  text-align: center;
}

.sr-only-focusable {
  color: #5227cc;
  text-decoration: none;
}

.titulo {
  color: whitesmoke;
}

.art1 {
  grid-area: art1;
  background-color: #529bff;
  color: whitesmoke;
  padding-top: 5%;
  padding-left: 70px;
}

.sec1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seccion1b {
  padding-left: 60px;
  padding-right: 100px;
  max-width: 50%;
}

.imgsec1 {
  background-image: url(../Materiales/oficina.png);
  width: 650px;
  height: 250px;
  background-size: 120%;
  aspect-ratio: 24 / 9;
}

.art2 {
  grid-area: art2;
  background-color: #529bff;
  color: whitesmoke;
  padding-top: 30px;
  padding-right: 70px;
}

.sec2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

.seccion2b {
  padding-left: 100px;
  padding-right: 60px;
  max-width: 50%;
}

.imgsec2 {
  background-image: url(../Materiales/voluntariado.jpg);
  width: 650px;
  height: 250px;
  background-size: 120%;
  aspect-ratio: 24 / 9;
  background-position: 100% 35%;
}

.art3 {
  grid-area: art3;
  padding-top: 40px;
  margin-left: 20%;
  margin-right: 20%;
}

.sec3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titulosec3 {
  margin: 30px;
}

.tarjeta {
  width: 220px;
  height: 150px;
  border-radius: 20px;
  color: whitesmoke;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 35px;
  padding-right: 5px;
  text-align: start;
}

#servoluntario {
  background-color: #dc3545;
  background-image: url(../Materiales/icono-mano.png);
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 35px 19px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;
  align-items: flex-start;
}

#donar {
  background-color: #ff9c07;
  background-image: url(../Materiales/icono-mano-corazon.png);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 35px 19px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;
  align-items: flex-start;
}

#reciclar {
  background-color: #28a745;
  background-image: url(../Materiales/icono-reciclar.png);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 35px 19px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;
  align-items: flex-start;
}

#llamadoslaborales {
  background-color: #17a2bb;
  background-image: url(../Materiales/icono-maletin.png);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 35px 19px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;
  align-items: flex-start;
}

.art4 {
  grid-area: art4;
}

.sec4 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.mas {
  background-image: url(../Materiales/icono-mas.png);

  background-position: 131px 14px;
  padding-left: 200px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
}

.llamados {
  margin-bottom: 0rem;
}

.llamadosOut {
  margin-bottom: 1.5rem;
}

.art5a {
  grid-area: art5a;
  color: whitesmoke;
  background-color: #529bff;
}

.sec5a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
}

.tituloNoticias {
  margin-top: 5%;
}

.art5b {
  grid-area: art5b;
  background-color: #529bff;
  padding-bottom: 5%;
}

.card-group {
  gap: 15px;
  display: flex;
  padding-left: 7%;
  padding-right: 7%;
}

.encabezadoCardA {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.encabezadoCardB {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.encabezadoCard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.card-img-top {
  border-radius: 7px;
}

.card {
  border-radius: 10px;
}

.textoVerMas {
  align-self: flex-end;
  margin-top: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.art6a {
  grid-area: art6a;
  margin-bottom: 20%;
}

.sec6a {
  display: flex;
  justify-content: flex-end;
}

.imagenContacto {
  background-image: url(../Materiales/laptop-escritorio.jpg);
  width: 550px;
  height: 250px;
  background-size: 100%;
  margin-top: 5%;
  margin-left: 5%;
  background-position: 0px -92px;
  background-repeat: no-repeat;
}

.art6b {
  grid-area: art6b;
  justify-self: center;
}

.sec6b {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
}

.flexRow {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.flexRowA {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.selfCenter {
  justify-self: center;
  align-self: center;
  margin-top: 25px;
}

.textCenter {
  text-align: center;
  margin-bottom: 25px;
}

.footer {
  grid-area: footer;
  background-color: #5227cc;
  color: whitesmoke;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.lista-footer {
  list-style: none;
  margin-left: 2%;
  margin-bottom: 45px;
}

hr {
  margin-bottom: 30px;
  margin-top: -27px;
}

.nexos {
  height: 35px;
  margin-bottom: 25px;
}

.footer-flex {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.redes {
  background-image: url("../Descargas/redes-sociales.png");
  width: 80px;
  height: 15px;
  background-repeat: no-repeat;
  padding-bottom: 25px;
  background-size: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding-right: 10px;
  padding-left: 0px;
  border: 1px solid #888;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.close {
  color: #aaaaaa;
  float: inherit;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  align-self: flex-end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.login-left {
  background-color: #17a2bb;
  width: 70px;
  height: 150px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.login-right {
  width: 300px;
  height: 150px;
}

.flexColumn-modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  padding-right: 40px;
}

.login {
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 5%;
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

.icono-login {
  max-width: 30px;
  margin-top: 25px;
}

.icono-login-padre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50%;
}

.ver-mas-padre {
  display: flex;
  margin-top: auto;
  margin-bottom: 15px;
  margin-right: 20px;
}

.login2 {
  margin-top: 10%;
  align-items: center;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 5%;
  width: 90%;
}

.login-left2 {
  background-color: #5227cc;
  width: 70px;
  height: 150px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.img-modal {
  height: 605px;
  width: 50%;
  background-image: url(../Materiales/imagen-modal.JPG);
  background-position: -10px -80px;
  background-repeat: no-repeat;
  background-attachment: local;
}

.close-padre {
  display: flex;
  align-self: flex-end;
}

.material-icons {
  color: #5227cc;
}

@media only screen and (max-width: 390px) {
  body {
    grid-template-columns: 390px;
    grid-template-rows: 48px 250px auto auto auto auto auto auto auto auto;
    grid-template-areas:
      "nav"
      "header"
      "art1"
      "art2"
      "art3"
      "art4"
      "art5a"
      "art5b"
      "art6b"
      "footer";
  }

  .listanav {
    display: none;
  }

  .boton {
    margin-right: 20px;
    margin-top: 4px;
  }

  .logo {
    margin-top: 4px;
    margin-left: -10px;
  }

  .art1 {
    padding-top: 5%;
    padding-left: 2%;
  }

  .sec1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .seccion1b {
    padding-left: 2%;
    padding-right: 2%;
    max-width: 100%;
    font-size: small;
  }
  .imgsec1 {
    background-image: url(../Materiales/oficina.png);
    width: 350px;
    height: 100px;
    background-size: 100%;
  }
  .art2 {
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .sec2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .seccion2b {
    padding-left: 2%;
    padding-right: 2%;
    max-width: 100%;
    font-size: small;
  }

  .imgsec2 {
    background-image: url(../Materiales/voluntariado.jpg);
    width: 350px;
    height: 100px;
    background-size: 100%;
  }

  .card-text {
    display: none;
  }

  nav {
    justify-content: center;
  }

  .logo {
    padding-right: 20%;
  }

  .sec4 {
    flex-direction: column;
    align-items: center;
  }

  .card-group {
    flex-direction: column;
  }

  .sec6a {
    justify-content: center;
  }

  .imagenContacto {
    display: none;
  }

  .flexRowA {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .footer {
    margin-top: 20px;
  }

  .lista-footer {
    display: none;
  }

  .redes {
    width: 50px;
    height: 12px;
    margin-left: 10px;
    margin-top: 1px;
  }

  hr {
    margin-bottom: 10px;
    margin-top: -5px;
  }

  .nexos {
    margin-top: 5px;
  }

  .img-modal {
    display: none;
  }

  .modal-content {
    width: 95%;
    padding-right: 0px;
    justify-content: center;
  }

  .login-left {
    width: 80px;
    height: 120px;
  }

  .login-left2 {
    width: 90px;
    height: 120px;
  }

  .parrafo-login {
    display: none;
  }

  .flexColumn-modal {
    padding-right: 0px;
  }

  .texto-modal {
    font-size: large;
    text-align: center;
  }

  .icono-login {
    margin: -8px;
    margin-top: 12px;
    padding-right: 19px;
    max-width: 40px;
  }
}
